/* Imports */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    text-decoration: none;
    list-style: none;
}

/* HEADER */


.title{
    font-size: 5rem;
}

.trial p{
    font-size: 0.8rem;
}

.trial i{
    color: var(--bs-primary);
}

/* MAIN */

.separator{
    border: 1px solid var(--bs-secondary);
    margin: auto;
    width: 50vw;
}

.layout:hover{
    background-color: var(--bs-primary);
    color: white;
    transition: 0.4s;
}

.layout i {
    font-size: 6rem
}


.card-body {
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;

.p-10{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.center{
    width: auto;
}

hr{margin:auto}

.modal-body{
    padding: 30px;
}

.btn-small{
    width: 50%;
}

.info {
    display:flex;
    justify-content: center;
}

.card-img-top {
    border-radius: 10%;
    width: 75%;

}
/* FOOTER */

